name: 'Check install scripts'

on:
  push:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'

jobs:
  install-linux:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Check
        run: |
          make test/install DISTRO=ubuntu

  bootstrap-linux:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        distro: ["ubuntu", "debian"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Check
        run: |
          make test/bootstrap GITHUB_REF_NAME=${{ github.ref_name }} DISTRO=${{ matrix.distro }}

  install-macos:
    runs-on: "macos-latest"
    steps:
      - uses: actions/checkout@v6
      - name: Check
        run: |
          make macos/install
