name: 'Check install scripts'

on:
  push:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'

jobs:
  install:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Check
        run: |
          DISTRO=ubuntu make test/install

  bootstrap:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        distro: ["ubuntu", "debian"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Check
        run: |
          GITHUB_REF_NAME=${{ github.ref_name }} DISTRO=${{ matrix.distro }} make test/bootstrap
